
/* Landing Page */
.landing-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#splashscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#splashscreen h1 {
    font-size: 4rem;
}

#signin-signout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signin-signout span {
    vertical-align: middle;
}

#signin-signout button {
    font-size: 3rem;
}

/* Goal Detail View */
#goal-header {
    margin: 0 1.5rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
}

#goal-roadmap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

