
/* Landing Page */
#signin-signout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#signin-signout button {
    margin: 0 15px;
}

/* Goal Detail View */
#goal-header {
    margin: 0 15rem;
}

/* Signup Page */
#signup-signin-page {
    justify-content: center;
}

#signup-signin-page form {
    max-width: 500px;
}

/* User Dashboard */
#goals-section div {
    padding: 0 10rem;
}

#goals-section p {
    max-width: 900px;
    font-size: 1.5rem;
}

#user-dash #dash-header {
    margin: 0 10rem;
}
