
/* Landing Page */
.landing-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#splashscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#splashscreen h1 {
    font-size: 4rem;
}

#signin-signout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signin-signout span {
    vertical-align: middle;
}

#signin-signout button {
    font-size: 3rem;
}

/* Goal Detail View */
#goal-header {
    margin: 0 1.5rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

#goal-roadmap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Signup Page */
#signup-signin-page {
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#signup-signin-page h1 {
    padding: 2rem 0;
    font-size: 3rem;
    font-weight: 600;
    color: var(--dark-color);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#signup-signin-page form {
    width: 75%;
}

/* User Dashboard */
#user-dash #dash-header {
    margin: 0 4rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    vertical-align: bottom;
    font-size: 2.3rem;
}

span .nav-username,
.goal-time-spent {
    display: none;
}

#goals-section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#goals-section h1 {
    /* max-width: 50%; */
    text-align: left;
    font-size: 1.8rem;
}

#goals-section p {
    font-size: 1rem;
    max-width: 500px;
}

#goals-section div {
    height: 90px;
    color: var(--light-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    /* background-color: #5D5A93; */
}

#goals-section a {
    width: 100%;
}

#goals-section a:nth-child(even) {
    background-color: #5D5A93;
}

#goals-section a:nth-child(odd) {
    background-color: #504E81;
}

.hacky-padding {
    visibility: hidden;
}

#goals-section a:hover {
    filter: brightness(110%);
}

/* Edit Milestone Page */
#milestone-edit-page {
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 0;
}

#milestone-edit-page {
    padding: 2rem 0;
    font-size: 3rem;
    font-weight: 600;
    color: var(--dark-color);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#milestone-edit-page form {
    width: 80%;
}

#milestone-edit-page .container {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


