
/* Landing Page */
#signin-signout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#signin-signout button {
    margin: 0 15px;
}

/* Signup Page */
#signup-signin-page {
    justify-content: center;
}

#signup-signin-page form {
    max-width: 500px;
}

