@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #555380;
    --secondary-color: #FFCC68;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --unselected-color: #D4C9C9;
    --text-info: #dbc794;
    --primary-button-color: #484675;
    --faded-text: #b9b9b9de;
    --milestone-bubble-color: #837596;
    --max-width: 1100px;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    overflow: auto;
}

html {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(53,53,60);
    background: linear-gradient(180deg, rgba(53,53,60,1) 0%, rgba(72,70,117,1) 23%, rgba(84,82,127,1) 78%, rgba(117,106,163,1) 100%);
}

#signup-signin-page {
    background: var(--light-color);
}

a {
    color: inherit; 
    text-decoration: none;
    width: max-content;
}

a h1 {
    margin: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
}

i {
    margin: 1rem 0;
}

.text-primary { color: var(--primary-color) }
.text-secondary { color: var(--secondary-color) }
.text-dark { color: var(--dark-color) }
.text-light { color: var(--light-color) }
.text-faded { color: var(--faded-text) }
.text-info { color: var(--text-info) }

.mt-0 { margin-top: 0 !important; }
.mr-0 { margin-right: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.ml-0 { margin-left: 0 !important; }

.text-underline { text-decoration: underline; }
.text-center { text-align: center; }

.hidden {
    display: none;
}

/* ********************************* */
/* Buttons */
/* ********************************* */

/* Button that looks like an a tag */
.btn-hyperlink {
    background: none;
    border: none;
    color: var(--unselected-color);
}

.btn-return-arrow {
    background: none;
    border: none;
    color: #565483;
}

.btn-return-arrow {
    cursor: pointer;
}

.btn-hyperlink:hover,
.btn-hyperlink:focus {
    text-decoration: underline;
    color: var(--light-color);
    cursor: pointer;
}

/* Button Base */
.btn {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: var(--primary-button-color);
    border: none;
    color: var(--light-color);
    padding: 1rem 1rem;
    border-radius: 10px;
    margin: .5rem 0;
}

.btn:focus {
    border: 5px solid #7b78b9;
}

.btn-primary {
    color: var(--light-color);
    background-color: var(--primary-button-color);
}

.btn-primary:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.btn-outline {
    border: 5px solid var(--primary-button-color);
    background-color: #f3f3f300;
    color: var(--primary-button-color);
}

.btn-outline:hover {
    cursor: pointer;
    background-color: var(--primary-button-color);
    color: #fff;
    filter: brightness(110%);
}

button.add-task-button,
button#add-milestone-button {
    background: none;
    border: none;
    width: max-content;
    height: max-content;
}

button.add-task-button:hover,
button#add-milestone-button:hover {
    color: var(--faded-text);
    cursor: pointer;
}

button.add-task-button:focus,
button#add-milestone-button:focus {
    color: var(--faded-text);
    cursor: pointer;
}

.btn-trash {
    background: none;
    border: none;
    color: #fff;
}

.btn-trash:hover {
    border: none;
    color: rgb(99, 35, 66);
    cursor: pointer;
}

/* Field Groups */
.field-group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.field-group label {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-color);
}

.field-group input {
    font-family: 'rubik', sans-serif;
    font-size: 1.2rem;
    height: 35px;
    background-color: #F4F3FB;
    border: 3px solid #5C5890;
    border-radius: 10px;
    padding: 0 .5rem;
}

.field-group input:focus {
    border: 3px solid #967dc5;
}

/* Button Groups */
.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.button-group a {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 75px;
    text-decoration: none;
}

.button-group a span {
    margin: auto 0;
    text-decoration: none;
}

.button-group button,
.button-group input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 75px;
}