<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/milestone_bubble.css">
    <link rel="stylesheet" href="/static/css/utility.css">
    <link rel="stylesheet" href="/static/css/screen_small.css">
    <script src="https://kit.fontawesome.com/72aa28b842.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" media="screen and (min-width: 700px)" href="/static/css/screen_med.css">
    <link rel="stylesheet" media="screen and (min-width: 1200px)" href="/static/css/screen_lg.css">
    <title>Goal Tracker</title>
</head>
<body>
    {% block content %}
        BODY CONTENT GOES HERE
    {% endblock %}
</body>
</html>