{% extends 'base.html' %}
{% block content %}
    <header id="goal-header">
        <a href="/{{ username }}" class="btn-return-arrow"><i class="fas fa-arrow-left fa-2x"></i></a>
        <span class="text-light truncate"><i class="fas fa-flag fa-1x  text-secondary"></i> {{ activeGoal.goalName }}</span>
        <button class="btn-return-arrow"><i class="fas fa-search fa-3x"></i></button>
    </header>
    
    <section id="goal-roadmap">
        <ul>
            {% if activeGoal.milestones.length == 1 %}

                <li class="goal-li">
                    <div class="milestone-bubble">
                        <div class="milestone">
                            <p class="milestone-title text-light text-center {{'milestone-completed' if activeGoal.milestones[0].milestoneCompleted }}">
                                {{ activeGoal.milestones[0].milestoneName or "Goal" }}
                            </p>
                            {% if activeGoal.milestones[0].milestoneCompleted %}
                            <i class="far fa-check-circle fa-3x"></i>
                            <form action="/{{ username }}/{{ activeGoal.goalId }}/{{ activeGoal.milestones[0].milestoneId }}/incomplete" method="POST">
                                <button class="goal-uncheck-button fa-2x"><i class="fas fa-times"></i></button>
                            </form>
                            {% else %}
                            <form action="/{{ username }}/{{ activeGoal.goalId }}/{{ activeGoal.milestones[0].milestoneId }}/complete" method="POST">
                                <button class="goal-check-button fa-2x"><i class="fas fa-check-double"></i></button>
                            </form>
                            {% endif %}
                            <ul class="task-list text-light">
                                {% if activeGoal.milestones[0].tasks %}
                                    {% for task in activeGoal.milestones[0].tasks %}
                                        <li class="{{'milestone-completed' if activeGoal.milestones[0].milestoneCompleted }}">{{ task.taskName }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li class="{{'milestone-completed' if activeGoal.milestones[0].milestoneCompleted }}">You didn't add any tasks, just nail your milestone!</li>
                                {% endif %}
                            </ul>
                            <div class="milestone-tags text-info {{'milestone-completed' if milestone.milestoneCompleted }}">
                                #tagPlaceholder
                            </div>
                            <button class=" btn-edit"><i class="fas fa-edit fa-2x"></i></button>
                        </div>
                        <p class="milestone-timespent text-faded">
                            Time Spent: 5 days, 3 hours,
                            55 minutes, 32 seconds
                        </p>
                    </div>
                </li>
            {% else %}
                {% for milestone in activeGoal.milestones %}
                <li class="goal-li">
                    <div class="milestone-bubble">
                        <div class="{{'shape-line' if milestone.milestoneSequence > 1}}"></div>
                        <div class="milestone">
                            <p class="milestone-title text-light text-center {{'milestone-completed' if milestone.milestoneCompleted }}">{{ milestone.milestoneName }}</p>
                            {% if milestone.milestoneCompleted %}
                            <i class="far fa-check-circle fa-3x"></i>
                            <form action="/{{ username }}/{{ activeGoal.goalId }}/{{ milestone.milestoneId }}/incomplete" method="POST">
                                <button class="goal-uncheck-button fa-2x"><i class="fas fa-times"></i></button>
                            </form>
                            {% else %}
                            <form action="/{{ username }}/{{ activeGoal.goalId }}/{{ milestone.milestoneId }}/complete" method="POST">
                                <button class="goal-check-button fa-2x"><i class="fas fa-check-double"></i></button>
                            </form>
                            {% endif %}
                            <ul class="task-list text-light">
                                {% if milestone.tasks %}
                                    {% for task in milestone.tasks %}
                                        <li class="{{'milestone-completed' if milestone.milestoneCompleted }}">{{ task.taskName }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li class="{{'milestone-completed' if milestone.milestoneCompleted }}">You didn't add any tasks, just nail your milestone!</li>
                                {% endif %}
                            </ul>
                            <div class="milestone-tags text-info {{'milestone-completed' if milestone.milestoneCompleted }}">
                                #tagPlaceholder
                            </div>
                            <button class=" btn-edit"><i class="fas fa-edit fa-2x"></i></button>
                        </div>
                        <p class="milestone-timespent text-faded">
                            Time Spent: 5 days, 3 hours,
                            55 minutes, 32 seconds
                        </p>
                    </div>
                </li>
                {% endfor %}
            {% endif %}
        </ul>
        {% if activeGoal.goalCompleted %}
            <i class="fas fa-trophy fa-10x text-secondary"></i>
        {% endif %}
    </section>
{% endblock %}  