{% extends 'base.html' %}
{% block content %}
    <header id="goal-header">
        <a href="/{{ username }}" class="btn-return-arrow"><i class="fas fa-arrow-left fa-2x"></i></a>
        <span class="text-light truncate"><i class="fas fa-flag fa-1x  text-secondary"></i> {{ activeGoal.goalName }}</span>
        <button class="btn-return-arrow"><i class="fas fa-search fa-3x"></i></button>
    </header>
    
    <section id="goal-roadmap">
        <ul>
            {% if activeGoal.milestones.length == 1 %}
                <li class="goal-li">
                    <div class="milestone-bubble">
                        <div class="milestone">
                            <p class="milestone-title text-light text-center">
                                {{ activeGoal.milestones[0].milestoneName or "Goal" }}
                            </p>
                            <ul class="task-list text-light">
                                {% if activeGoal.milestones[0].tasks %}
                                    {% for task in activeGoal.milestones[0].tasks %}
                                        <li>{{ task.taskName }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li>You didn't add any tasks, just nail your milestone!</li>
                                {% endif %}
                            </ul>
                            <div class="milestone-tags text-info">
                                #Tag
                            </div>
                        </div>
                        <p class="milestone-timespent text-faded">
                            Time Spent: 5 days, 3 hours,
                            55 minutes, 32 seconds
                        </p>
                    </div>
                </li>
            {% else %}
                {% for milestone in activeGoal.milestones %}
                <li class="goal-li">
                    <div class="milestone-bubble">
                        <div class="{{'shape-line' if milestone.milestoneSequence > 1}}"></div>
                        <div class="milestone">
                            <p class="milestone-title text-light text-center">{{ milestone.milestoneName }}</p>
                            <ul class="task-list text-light">
                                {% if milestone.tasks %}
                                    {% for task in milestone.tasks %}
                                        <li>{{ task.taskName }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li>You didn't add any tasks, just nail your milestone!</li>
                                {% endif %}
                            </ul>
                            <div class="milestone-tags text-info">
                                #Tag
                            </div>
                        </div>
                        <p class="milestone-timespent text-faded">
                            Time Spent: 5 days, 3 hours,
                            55 minutes, 32 seconds
                        </p>
                    </div>
                </li>
                {% endfor %}
            {% endif %}
        </ul>
    </section>
{% endblock %}  