{% extends 'base.html' %}
{% block content %}
    <div class="landing-page">
        <header class="text-light" id="splashscreen">
            <h1>LetsGoal.</h1>
            <p class="sub-header text-secondary">THE goal tracking app</p>
        </header>

        <section class="text-light" id="signin-signout">
            <form action="/signin">
                <button class="btn-hyperlink">Sign In</button>
            </form>
            <p>or</p>
            <form action="/signup">
                <button class="btn-hyperlink">Sign Up</button>
            </form>
        </section>
    </div>
{% endblock %}