{% extends 'base.html' %}
{% block content %}
    <section id="signup-signin-page">
        <h1 class="text-underline">CoolTitle</h1>
        <form action="/signin" method="POST">
            <div class="field-group">
                <label for="username">Username</label>
                <input type="text" name="username">
            </div>

            <div class="field-group">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>

            <div class="button-group">
                <input class="btn btn-primary" type="submit" value="Sign In">
                <a href="/" class="btn btn-outline"><span>Cancel</span></a>
            </div>

        </form>
    </section>
{% endblock %}