{% extends 'base.html' %}
{% block content %}
    <section id="user-dash">
        <header id="dash-header">
            <a href="/" class="btn-return-arrow"><i class="fas fa-door-open fa-1x"></i></a>
            <span class="text-light"><i class="fas fa-user fa-1x  text-light"></i> <span class="nav-username">Sean Demske</span></span>
        </header>

        <section id="goals-section">
            <div>
                <h1>Get a dev job</h1>
                <p class="goal-time-spent">Time Spent: 5 days, 3 hours,
                    55 minutes, 32 seconds</p>
                <i class="fas fa-trash fa-3x"></i>
            </div>
            <div>
                <h1>Get a dev job</h1>
                <p class="goal-time-spent">Time Spent: 5 days, 3 hours,
                    55 minutes, 32 seconds</p>
                <i class="fas fa-trash fa-3x"></i>
            </div>
            <div>
                <h1>Get a dev job</h1>
                <p class="goal-time-spent">Time Spent: 5 days, 3 hours,
                    55 minutes, 32 seconds</p>
                <i class="fas fa-trash fa-3x"></i>
            </div>
            <div>
                <h1>Get a dev job</h1>
                <p class="goal-time-spent">Time Spent: 5 days, 3 hours,
                    55 minutes, 32 seconds</p>
                <i class="fas fa-trash fa-3x"></i>
            </div>
            <div>
                <h1>Get a dev job</h1>
                <p class="goal-time-spent">Time Spent: 5 days, 3 hours,
                    55 minutes, 32 seconds</p>
                <i class="fas fa-trash fa-3x"></i>
            </div>
            <div>
                <h1>Get a dev job</h1>
                <p class="goal-time-spent">Time Spent: 5 days, 3 hours,
                    55 minutes, 32 seconds</p>
                <i class="fas fa-trash fa-3x"></i>
            </div>
            <div>
                <h1>Get a dev job</h1>
                <p class="goal-time-spent">Time Spent: 5 days, 3 hours,
                    55 minutes, 32 seconds</p>
                <i class="fas fa-trash fa-3x"></i>
            </div>
            <div>
                <h1>Get a dev job</h1>
                <p class="goal-time-spent">Time Spent: 5 days, 3 hours,
                    55 minutes, 32 seconds</p>
                <i class="fas fa-trash fa-3x"></i>
            </div>
            <div>
                <h1>Get a dev job</h1>
                <p class="goal-time-spent">Time Spent: 5 days, 3 hours,
                    55 minutes, 32 seconds</p>
                <i class="fas fa-trash fa-3x"></i>
            </div>

            <div class="hacky-padding">
                <h1>HACKY PADDING</h1>
            </div>
            <div class="hacky-padding">
                <h1>HACKY PADDING</h1>
            </div>
            <div class="hacky-padding">
                <h1>HACKY PADDING</h1>
            </div>
        </section>

        <!-- 
            Add goal form
         -->
        <div class="add-goal">
            <h1 class="text-underline">+Add Goal</h1>
            <div class="add-goal-form" hidden>
                <div class="container">
                    <p class="text-dark text-center">Let's do this!</p>
                    <div class="field-group">
                        <p class="text-faded">What do you want to achieve?</p>
                        <label for="goal-title">Goal Title</label>
                        <input type="text" name="goal-title">
                    </div>
        
                    <div class="field-group">
                        <p class="text-faded">Add some milestones to get there!</p>
                        <label for="milestone-X-title">Milestone {{ 1's }} Name</label>
                        <input type="password" name="milestone-X-title">
                    </div>

                    <div class="field-group">
                        <p class="text-faded">Add some milestones to get there!</p>
                        <label class="text-underline" for="milestone-X-title">Add Milestone Tasks</label>
                        <i class="fas fa-plus fa-2x"></i>
                    </div>

                    <div class="field-group">
                        <p class="text-faded">Add more milestones or get started!</p>
                        <label class="text-underline" for="milestone-X-title">Add more milstones</label>
                        <i class="fas fa-plus fa-2x"></i>
                    </div>






                    <div class="field-group">
                        <p class="text-faded">What do you want to achieve?</p>
                        <label for="goal-title">Goal Title</label>
                        <input type="text" name="goal-title">
                    </div>
        
                    <div class="field-group">
                        <p class="text-faded">Add some milestones to get there!</p>
                        <label for="milestone-X-title">Milestone {{ 1's }} Name</label>
                        <input type="password" name="milestone-X-title">
                    </div>

                    <div class="container">
                        <button class="btn btn-primary">Start Goal!</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/static/js/addGoalTransition.js"></script>
{% endblock %}